.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rc
data/ff-weekly.RData
data/derived
output
*.aux
*.bbl
*.bcf
*.fdb_latexmk
*.fls
*.out
*.pdf
*.run.xml
*.ini
*.thm
*.blg
*.log
*.gz
data/derived/model_GARCH.RData

*.toc
